* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #9a9595;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: block;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Espaçamento entre as divs */
    width: 80%; /* Controla a largura das divs para que não ocupem toda a tela */
    max-width: 500px; /* Define uma largura máxima para não ficar muito grande */    
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#thumbnailContainer {
    margin-top: 20px;
}

img {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

.hidden {
    display: none;
}
